@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@theme {
  --breakpoint-3xl: 120rem; /* 1920px */
  --breakpoint-pad: 60rem; /* 960px */
  --breakpoint-phone: 40rem; /* 640px */
  --color-primary: #000;
  --color-secondary: #fff;
  --phone-page-max-width: 640px;
}

:root {
  --dialog: 1000;
}

.dark,
.dark * {
  --color-primary: #fff;
  --color-secondary: #000;
}

.light,
.light * {
  --color-primary: #000;
  --color-secondary: #fff;
}
